.card-img-top {
    width: 80%;
}
.card-body{
    background: rgb(33,33,33);
}

.list-group-item{
    background: rgb(33,33,33);
}

p{
    font-size: 25px;
    font-family: "Montserrat";
}
h5{
    font-size: 40px;
    font-family: "Montserrat";
}